<ul class="sidebar-menu">
    <li class="treeview"><a href="/lib">
        <i class="fa fa-book"></i><span>list</span>
    </a></li>
    <li class="treeview"><a href="/lib/new">
        <i class="fa fa-plus"></i><span>new item</span>
    </a></li>
    <li class="treeview"><a href="/projects">
        <i class="fa fa-plus"></i><span>Projects</span>
    </a></li>

        <li class="treeview"><a class="btn btn-primary" href="/lib/bibtex">
        <i class="fa fa-download"></i><span>Download Bibtex</span>
    </a></li>
        {% if user.is_authenticated %}

            <li class="treeview"><a href="{% url 'logout' %}">
            <i class="fa fa-plane"></i><span>Logout</span>
        </a></li>
            {% else %}
        <li class="treeview"><a href="{% url 'login' %}"><i
            class="fa fa-plane"></i><span>Login</span>
        </a></li>
    {% endif %}
</ul>

